<h1>Welcome to BucketList!</h1>
<h3> An app to help you organize your activities before time's up!</h3>
<%= link_to 'Current Activities', controller: 'activities' %>
<%= link_to 'New Activity', new_activity_path %>
