// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: black;
  font-size: 50px;
  text-align: center;
  padding-top: 40px;
}

h3 {
  padding-top: 10px;
  font-size: 35px;
  color: black;
}

body {
  background-image: url(http://images.clipartpanda.com/seaside-clipart-bucket-with-handle.svg);
  background-repeat: no-repeat;
  background-color: #B24A4E;
  background-position: center;
  background-size: 65%;
  height: 600px;
  text-align: center;
  display: block;
}

p {
  padding-top: 80px;
  font-size: 30px;
}

input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
}

input[type=area] {
    border: 2px solid red;
    border-radius: 4px;
}
